/* CSS DOCUMENT */
@charset "UTF-8";

/* fuentes */

@font-face {
    font-family: "EncodeSans Light";
    src: url("fonts/EncodeSans-Light.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "EncodeSans Regular";
    src: url("fonts/EncodeSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "EncodeSans Medium";
    src: url("fonts/EncodeSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "EncodeSans Semibold";
    src: url("fonts/EncodeSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "EncodeSans Bold";
    src: url("fonts/EncodeSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* configuraciones generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fondo */

body {
    background-color: black;
    color: rgb(243, 165, 187);
    font-family: 'EncodeSans Regular';
}

.bold {
    font-family: 'EncodeSans Bold';
}

.light {
    font-family: 'EncodeSans Light';
}

/* header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-top: 20px;
}

.hero h1 {
    font-size: 170px;
}

/* loguito pintha */
.logopintha {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logopintha p {
    color: rgb(243, 165, 187);
    font-size: 16px;
}

/*  nav */

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul :hover {
    display: flex;
    gap: 30px;
    color: rgb(243, 165, 187);
    list-style: none;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
    font-weight: bold;
}

/* hero */
.hero h1 {
    background-color: rgb(243, 165, 187);
    color: black;
    padding: 80px 20px;
    text-align: center;
    font-size: 175px;
    width: 100%;
    margin-top: 10px;
}

.nombre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 80px 10%;
    align-items: flex-start;
}

.columna-nombre-nuevo {
    flex: 0 0 auto;
}

.cajitanombre {
    background-color: rgb(243, 165, 187);
    font-size: 24px;
    padding: 20px 30px;
    width: fit-content;
    color: black;
}

.columnainfoprincipal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    max-width: 550px;
}

.columnainfoprincipal img {
    width: 200px;
    height: 220px;
    object-fit: cover;
}

.presentación {
    margin-top: 0;
}

.presentación p {
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.columnadatosedu {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 25px;
    padding-top: 240px;
}

.columnadatosedu h2 {
    color: white;
    font-family: 'Encode Sans Bold', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}

.columnadatosedu p {
    color: rgb(243, 165, 187);
    font-size: 15px;
    margin-bottom: 5px;
}

/* Habilidades */
.iconoshabilidades {
    display: flex;
    gap: 10px;
}

.iconoshabilidades span {
    border: 2px solid rgb(243, 165, 187);
    border-style: groove;
    border-radius: 25%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-style: 'EncodeSans-Bold', sans-serif;
    font-weight: 700;
    color: rgb(243, 165, 187);
}

.bloquesitos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.experiencias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 2%;
    background-color: black;
}

.experiencias h2 {
    width: 100%;
    text-align: center;
    border-top: 2px solid rgb(243, 165, 187);
    border-bottom: 2px solid rgb(243, 165, 187);
    padding: 20px 0;
    margin-bottom: 90px;
    font-size: 30px;
}

.experiencias article {
    justify-content: flex-start;
    background-color: rgb(243, 165, 187);
    color: black;
    padding: 50px;
    margin: 0;
    margin-left: 0;
    width: 24%;
    min-width: 200px;
    min-height: 200px;
    flex: 0 1 auto;
}

.experiencias h3 {
    font-family: 'EncodeSans Bold';
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-wrap: balance;
}

.experiencias ul {
    list-style-type: disc;
    padding-left: 20px;
}

.experiencias li {
    font-size: 15px;
    margin-bottom: 4px;
    line-height: 1.3;
    hyphens: auto;
}

footer {
    background-color: rgb(243, 165, 187);
    padding: 45px 20px;
    justify-content: center;
    margin-top: 50px;
}

.redes-sociales {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.redes-sociales a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
}

.redes-sociales :hover {
    text-decoration: none;
    color: black;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1;
}